In [114]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

df = pd.read_csv('Copy of olympics.csv',index_col = 0, skiprows = 1)

for col in df.columns:
    if col[:2] == '01':
        df.rename(columns = {col:'Gold'+col[4:]},inplace = True)
    if col[:2] == '02':
        df.rename(columns = {col:'Silver'+col[4:]},inplace = True)
    if col[:2] == '03':
        df.rename(columns = {col:'Bronze'+col[4:]},inplace = True)
    if col[:1] == '№':
        df.rename(columns = {col:'#'+col[1:]},inplace = True)

names_ids = df.index.str.split('\s\(')

df.index = names_ids.str[0]
df['ID'] = names_ids.str[1].str[:3]

df = df.drop('Totals')
print(df)

                                  # Summer  Gold  Silver  Bronze  Total  \
Afghanistan                             13     0       0       2      2
Algeria                                 12     5       2       8     15
Argentina                               23    18      24      28     70
Armenia                                  5     1       2       9     12
Australasia                              2     3       4       5     12
Australia                               25   139     152     177    468
Austria                                 26    18      33      35     86
Azerbaijan                               5     6       5      15     26
Bahamas                                 15     5       2       5     12
Bahrain                                  8     0       0       1      1
Barbados                                11     0       0       1      1
Belarus                                  5    12      24      39     75
Belgium                                 25    37      52      53    142
Bermuda                                 17     0       0       1      1
Bohemia                                  3     0       1       3      4
Botswana                                 9     0       1       0      1
Brazil                                  21    23      30      55    108
British West Indies                      1     0       0       2      2
Bulgaria                                19    51      85      78    214
Burundi                                  5     1       0       0      1
Cameroon                                13     3       1       1      5
Canada                                  25    59      99     121    279
Chile                                   22     2       7       4     13
China                                    9   201     146     126    473
Colombia                                18     2       6      11     19
Costa Rica                              14     1       1       2      4
Ivory Coast                             12     0       1       0      1
Croatia                                  6     6       7      10     23
Cuba                                    19    72      67      70    209
Cyprus                                   9     0       1       0      1
Czech Republic                           5    14      15      15     44
Czechoslovakia                          16    49      49      45    143
Denmark                                 26    43      68      68    179
Djibouti                                 7     0       0       1      1
Dominican Republic                      13     3       2       1      6
Ecuador                                 13     1       1       0      2
Egypt                                   21     7       9      10     26
Eritrea                                  4     0       0       1      1
Estonia                                 11     9       9      15     33
Ethiopia                                12    21       7      17     45
Finland                                 24   101      84     117    302
France                                  27   202     223     246    671
Gabon                                    9     0       1       0      1
Georgia                                  5     6       5      14     25
Germany                                 15   174     182     217    573
United Team of Germany                   3    28      54      36    118
East Germany                             5   153     129     127    409
West Germany                             5    56      67      81    204
Ghana                                   13     0       1       3      4
Great Britain                           27   236     272     272    780
Greece                                  27    30      42      39    111
Grenada                                  8     1       0       0      1
Guatemala                               13     0       1       0      1
Guyana                                  16     0       0       1      1
Haiti                                   14     0       1       1      2
Hong Kong                               15     1       1       1      3
Hungary                                 25   167     144     165    476
Iceland                                 19     0       2       2      4
India                                   23     9       6      11     26
Indonesia                               14     6      10      11     27
Iran                                    15    15      20      25     60
Iraq                                    13     0       0       1      1
Ireland                                 20     9       8      12     29
Israel                                  15     1       1       5      7
Italy                                   26   198     166     185    549
Jamaica                                 16    17      30      20     67
Japan                                   21   130     126     142    398
Kazakhstan                               5    16      17      19     52
Kenya                                   13    25      32      29     86
North Korea                              9    14      12      21     47
South Korea                             16    81      82      80    243
Kuwait                                  12     0       0       2      2
Kyrgyzstan                               5     0       1       2      3
Latvia                                  10     3      11       5     19
Lebanon                                 16     0       2       2      4
Liechtenstein                           16     0       0       0      0
Lithuania                                8     6       5      10     21
Luxembourg                              22     1       1       0      2
Macedonia                                5     0       0       1      1
Malaysia                                12     0       3       3      6
Mauritius                                8     0       0       1      1
Mexico                                  22    13      21      28     62
Moldova                                  5     0       2       5      7
Mongolia                                12     2       9      13     24
Montenegro                               2     0       1       0      1
Morocco                                 13     6       5      11     22
Mozambique                               9     1       0       1      2
Namibia                                  6     0       4       0      4
Netherlands                             25    77      85     104    266
Netherlands Antilles                    13     0       1       0      1
New Zealand                             22    42      18      39     99
Niger                                   11     0       0       1      1
Nigeria                                 15     3       8      12     23
Norway                                  24    56      49      43    148
Pakistan                                16     3       3       4     10
Panama                                  16     1       0       2      3
Paraguay                                11     0       1       0      1
Peru                                    17     1       3       0      4
Philippines                             20     0       2       7      9
Poland                                  20    64      82     125    271
Portugal                                23     4       8      11     23
Puerto Rico                             17     0       2       6      8
Qatar                                    8     0       0       4      4
Romania                                 20    88      94     119    301
Russia                                   5   132     121     142    395
Russian Empire                           3     1       4       3      8
Soviet Union                             9   395     319     296   1010
Unified Team                             1    45      38      29    112
Saudi Arabia                            10     0       1       2      3
Senegal                                 13     0       1       0      1
Serbia                                   3     1       2       4      7
Serbia and Montenegro                    3     2       4       3      9
Singapore                               15     0       2       2      4
Slovakia                                 5     7       9       8     24
Slovenia                                 6     4       6       9     19
South Africa                            18    23      26      27     76
Spain                                   22    37      59      35    131
Sri Lanka                               16     0       2       0      2
Sudan                                   11     0       1       0      1
Suriname                                11     1       0       1      2
Sweden                                  26   143     164     176    483
Switzerland                             27    47      73      65    185
Syria                                   12     1       1       1      3
Chinese Taipei                          13     2       7      12     21
Tajikistan                               5     0       1       2      3
Tanzania                                12     0       2       0      2
Thailand                                15     7       6      11     24
Togo                                     9     0       0       1      1
Tonga                                    8     0       1       0      1
Trinidad and Tobago                     16     2       5      11     18
Tunisia                                 13     3       3       4     10
Turkey                                  21    39      25      24     88
Uganda                                  14     2       3       2      7
Ukraine                                  5    33      27      55    115
United Arab Emirates                     8     1       0       0      1
United States                           26   976     757     666   2399
Uruguay                                 20     2       2       6     10
Uzbekistan                               5     5       5      10     20
Venezuela                               17     2       2       8     12
Vietnam                                 14     0       2       0      2
Virgin Islands                          11     0       1       0      1
Yugoslavia                              16    26      29      28     83
Independent Olympic Participants         1     0       1       2      3
Zambia                                  12     0       1       1      2
Zimbabwe                                12     3       4       1      8
Mixed team                               3     8       5       4     17

                                  # Winter  Gold.1  Silver.1  Bronze.1  \
Afghanistan                              0       0         0         0
Algeria                                  3       0         0         0
Argentina                               18       0         0         0
Armenia                                  6       0         0         0
Australasia                              0       0         0         0
Australia                               18       5         3         4
Austria                                 22      59        78        81
Azerbaijan                               5       0         0         0
Bahamas                                  0       0         0         0
Bahrain                                  0       0         0         0
Barbados                                 0       0         0         0
Belarus                                  6       6         4         5
Belgium                                 20       1         1         3
Bermuda                                  7       0         0         0
Bohemia                                  0       0         0         0
Botswana                                 0       0         0         0
Brazil                                   7       0         0         0
British West Indies                      0       0         0         0
Bulgaria                                19       1         2         3
Burundi                                  0       0         0         0
Cameroon                                 1       0         0         0
Canada                                  22      62        56        52
Chile                                   16       0         0         0
China                                   10      12        22        19
Colombia                                 1       0         0         0
Costa Rica                               6       0         0         0
Ivory Coast                              0       0         0         0
Croatia                                  7       4         6         1
Cuba                                     0       0         0         0
Cyprus                                  10       0         0         0
Czech Republic                           6       7         9         8
Czechoslovakia                          16       2         8        15
Denmark                                 13       0         1         0
Djibouti                                 0       0         0         0
Dominican Republic                       0       0         0         0
Ecuador                                  0       0         0         0
Egypt                                    1       0         0         0
Eritrea                                  0       0         0         0
Estonia                                  9       4         2         1
Ethiopia                                 2       0         0         0
Finland                                 22      42        62        57
France                                  22      31        31        47
Gabon                                    0       0         0         0
Georgia                                  6       0         0         0
Germany                                 11      78        78        53
United Team of Germany                   3       8         6         5
East Germany                             6      39        36        35
West Germany                             6      11        15        13
Ghana                                    1       0         0         0
Great Britain                           22      10         4        12
Greece                                  18       0         0         0
Grenada                                  0       0         0         0
Guatemala                                1       0         0         0
Guyana                                   0       0         0         0
Haiti                                    0       0         0         0
Hong Kong                                4       0         0         0
Hungary                                 22       0         2         4
Iceland                                 17       0         0         0
India                                    9       0         0         0
Indonesia                                0       0         0         0
Iran                                    10       0         0         0
Iraq                                     0       0         0         0
Ireland                                  6       0         0         0
Israel                                   6       0         0         0
Italy                                   22      37        34        43
Jamaica                                  7       0         0         0
Japan                                   20      10        17        18
Kazakhstan                               6       1         3         3
Kenya                                    3       0         0         0
North Korea                              8       0         1         1
South Korea                             17      26        17        10
Kuwait                                   0       0         0         0
Kyrgyzstan                               6       0         0         0
Latvia                                  10       0         4         3
Lebanon                                 16       0         0         0
Liechtenstein                           18       2         2         5
Lithuania                                8       0         0         0
Luxembourg                               8       0         2         0
Macedonia                                5       0         0         0
Malaysia                                 0       0         0         0
Mauritius                                0       0         0         0
Mexico                                   8       0         0         0
Moldova                                  6       0         0         0
Mongolia                                13       0         0         0
Montenegro                               2       0         0         0
Morocco                                  6       0         0         0
Mozambique                               0       0         0         0
Namibia                                  0       0         0         0
Netherlands                             20      37        38        35
Netherlands Antilles                     2       0         0         0
New Zealand                             15       0         1         0
Niger                                    0       0         0         0
Nigeria                                  0       0         0         0
Norway                                  22     118       111       100
Pakistan                                 2       0         0         0
Panama                                   0       0         0         0
Paraguay                                 1       0         0         0
Peru                                     2       0         0         0
Philippines                              4       0         0         0
Poland                                  22       6         7         7
Portugal                                 7       0         0         0
Puerto Rico                              6       0         0         0
Qatar                                    0       0         0         0
Romania                                 20       0         0         1
Russia                                   6      49        40        35
Russian Empire                           0       0         0         0
Soviet Union                             9      78        57        59
Unified Team                             1       9         6         8
Saudi Arabia                             0       0         0         0
Senegal                                  5       0         0         0
Serbia                                   2       0         0         0
Serbia and Montenegro                    3       0         0         0
Singapore                                0       0         0         0
Slovakia                                 6       2         2         1
Slovenia                                 7       2         4         9
South Africa                             6       0         0         0
Spain                                   19       1         0         1
Sri Lanka                                0       0         0         0
Sudan                                    0       0         0         0
Suriname                                 0       0         0         0
Sweden                                  22      50        40        54
Switzerland                             22      50        40        48
Syria                                    0       0         0         0
Chinese Taipei                          11       0         0         0
Tajikistan                               4       0         0         0
Tanzania                                 0       0         0         0
Thailand                                 3       0         0         0
Togo                                     1       0         0         0
Tonga                                    1       0         0         0
Trinidad and Tobago                      3       0         0         0
Tunisia                                  0       0         0         0

# Question no 0

In [90]:
def first_country(df):
    country_series = pd.Series(df.loc['Afghanistan'])
    print()
    return country_series
first_country(df)

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

# Question no 1

In [91]:
def country_with_most_Gold():
    df['difference'] = df["Gold"]-df["Gold.1"]
    index = df['difference'].argmax()
    a = df.iloc[index]
    print(a['ID'])
country_with_most_Gold()

USA

# Question no 2

In [119]:
def Gold_difference():
    new_df = df[['Gold','Gold.1']]
    values = (new_df != 0).any(axis=1)
    new_df = new_df.loc[values]
    new_df['Total'] = new_df['Gold'] + new_df['Gold.1']
    new_df['Gold_Difference'] = (new_df['Gold']-new_df['Gold.1']) /new_df['Total'] 
    print(new_df)
    arr = new_df[new_df['Gold_Difference']==new_df['Gold_Difference'].max()].index.values
    print("The most Gold medal Difference country is "+ arr[0])
Gold_difference()

                        Gold  Gold.1  Total  Gold_Difference
Algeria                    5       0      5         1.000000
Argentina                 18       0     18         1.000000
Armenia                    1       0      1         1.000000
Australasia                3       0      3         1.000000
Australia                139       5    144         0.930556
Austria                   18      59     77        -0.532468
Azerbaijan                 6       0      6         1.000000
Bahamas                    5       0      5         1.000000
Belarus                   12       6     18         0.333333
Belgium                   37       1     38         0.947368
Brazil                    23       0     23         1.000000
Bulgaria                  51       1     52         0.961538
Burundi                    1       0      1         1.000000
Cameroon                   3       0      3         1.000000
Canada                    59      62    121        -0.024793
Chile                      2       0      2         1.000000
China                    201      12    213         0.887324
Colombia                   2       0      2         1.000000
Costa Rica                 1       0      1         1.000000
Croatia                    6       4     10         0.200000
Cuba                      72       0     72         1.000000
Czech Republic            14       7     21         0.333333
Czechoslovakia            49       2     51         0.921569
Denmark                   43       0     43         1.000000
Dominican Republic         3       0      3         1.000000
Ecuador                    1       0      1         1.000000
Egypt                      7       0      7         1.000000
Estonia                    9       4     13         0.384615
Ethiopia                  21       0     21         1.000000
Finland                  101      42    143         0.412587
France                   202      31    233         0.733906
Georgia                    6       0      6         1.000000
Germany                  174      78    252         0.380952
United Team of Germany    28       8     36         0.555556
East Germany             153      39    192         0.593750
West Germany              56      11     67         0.671642
Great Britain            236      10    246         0.918699
Greece                    30       0     30         1.000000
Grenada                    1       0      1         1.000000
Hong Kong                  1       0      1         1.000000
Hungary                  167       0    167         1.000000
India                      9       0      9         1.000000
Indonesia                  6       0      6         1.000000
Iran                      15       0     15         1.000000
Ireland                    9       0      9         1.000000
Israel                     1       0      1         1.000000
Italy                    198      37    235         0.685106
Jamaica                   17       0     17         1.000000
Japan                    130      10    140         0.857143
Kazakhstan                16       1     17         0.882353
Kenya                     25       0     25         1.000000
North Korea               14       0     14         1.000000
South Korea               81      26    107         0.514019
Latvia                     3       0      3         1.000000
Liechtenstein              0       2      2        -1.000000
Lithuania                  6       0      6         1.000000
Luxembourg                 1       0      1         1.000000
Mexico                    13       0     13         1.000000
Mongolia                   2       0      2         1.000000
Morocco                    6       0      6         1.000000
Mozambique                 1       0      1         1.000000
Netherlands               77      37    114         0.350877
New Zealand               42       0     42         1.000000
Nigeria                    3       0      3         1.000000
Norway                    56     118    174        -0.356322
Pakistan                   3       0      3         1.000000
Panama                     1       0      1         1.000000
Peru                       1       0      1         1.000000
Poland                    64       6     70         0.828571
Portugal                   4       0      4         1.000000
Romania                   88       0     88         1.000000
Russia                   132      49    181         0.458564
Russian Empire             1       0      1         1.000000
Soviet Union             395      78    473         0.670190
Unified Team              45       9     54         0.666667
Serbia                     1       0      1         1.000000
Serbia and Montenegro      2       0      2         1.000000
Slovakia                   7       2      9         0.555556
Slovenia                   4       2      6         0.333333
South Africa              23       0     23         1.000000
Spain                     37       1     38         0.947368
Suriname                   1       0      1         1.000000
Sweden                   143      50    193         0.481865
Switzerland               47      50     97        -0.030928
Syria                      1       0      1         1.000000
Chinese Taipei             2       0      2         1.000000
Thailand                   7       0      7         1.000000
Trinidad and Tobago        2       0      2         1.000000
Tunisia                    3       0      3         1.000000
Turkey                    39       0     39         1.000000
Uganda                     2       0      2         1.000000
Ukraine                   33       2     35         0.885714
United Arab Emirates       1       0      1         1.000000
United States            976      96   1072         0.820896
Uruguay                    2       0      2         1.000000
Uzbekistan                 5       1      6         0.666667
Venezuela                  2       0      2         1.000000
Yugoslavia                26       0     26         1.000000
Zimbabwe                   3       0      3         1.000000
Mixed team                 8       0      8         1.000000
The most Gold Goal Difference country is Algeria