In [52]:
#Question no 1
from datetime import date

def get_date(number_of_days):
    d =date.today()
    current_date = d.day
    if(number_of_days%2==0):
        return current_date-number_of_days
    else:
        return current_date+number_of_days
    
print (get_date(4))

6

In [12]:
#Question no 2

def Stringify(word):
    text_list = list(word)
    return text_list

x = map(Stringify,('devnation', 'data science', 'requires', 'dedication'))
print(list(x))

[['d', 'e', 'v', 'n', 'a', 't', 'i', 'o', 'n'], ['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e'], ['r', 'e', 'q', 'u', 'i', 'r', 'e', 's'], ['d', 'e', 'd', 'i', 'c', 'a', 't', 'i', 'o', 'n']]

In [29]:
#Question no 3
def Stringcase(mylist):
    for i in range(len(mylist)):
        tempchar = mylist[i]
        if(tempchar.islower()):
            captempchar = tempchar.upper()
            mylistupdated.append(captempchar)
            mylistupdated.append(tempchar)
        else:
            continue
    return mylistupdated
            
mylist = ['f','b','a','a']
mylistupdated = []
Stringcase(mylist)
unique_tuples = []
for i in mylistupdated:
    if i not in unique_tuples:
        unique_tuples.append(i)
    else:
        continue
print(unique_tuples)

['F', 'f', 'B', 'b', 'A', 'a']

In [ ]:
#Question no 4

def str_join(mylist,word):   
    x = map(lambda x:x+word,mylist)
    print(list(x))

mylist= ['a','b','c']
word = '@'
str_join(mylist,word)

Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and finding the average cty mpg for each group.
Output should be in the list of tuples
Output = [ (5,20),(4,18),(3,16) ]
Note:
1. Use MPG.csv file
2. First index of tuple shows the number of cylinders and second index shows the average
3. Result should be sorted by first tuple index by using lambda functions

In [47]:
#This question is not done right now
#Question no 5
# function --> get_city_mpg_avg()
# read file

import pandas as pd
data = pd.read_csv('mpg.csv')
data.drop(['manufacturer','model','displ'],axis = 1)
number_of_cylinders = data.groupby('cyl')
#del number_of_cylinders['Unnamed','manufacturer']
print(list(number_of_cylinders))

[(4,      Unnamed: 0 manufacturer       model  displ  year  cyl       trans drv  \
0             1         audi          a4    1.8  1999    4    auto(l5)   f
1             2         audi          a4    1.8  1999    4  manual(m5)   f
2             3         audi          a4    2.0  2008    4  manual(m6)   f
3             4         audi          a4    2.0  2008    4    auto(av)   f
7             8         audi  a4 quattro    1.8  1999    4  manual(m5)   4
..          ...          ...         ...    ...   ...  ...         ...  ..
224         225   volkswagen  new beetle    2.0  1999    4    auto(l4)   f
227         228   volkswagen      passat    1.8  1999    4  manual(m5)   f
228         229   volkswagen      passat    1.8  1999    4    auto(l5)   f
229         230   volkswagen      passat    2.0  2008    4    auto(s6)   f
230         231   volkswagen      passat    2.0  2008    4  manual(m6)   f

     cty  hwy fl       class
0     18   29  p     compact
1     21   29  p     compact
2     20   31  p     compact
3     21   30  p     compact
7     18   26  p     compact
..   ...  ... ..         ...
224   19   26  r  subcompact
227   21   29  p     midsize
228   18   29  p     midsize
229   19   28  p     midsize
230   21   29  p     midsize

[81 rows x 12 columns]), (5,      Unnamed: 0 manufacturer       model  displ  year  cyl       trans drv  \
217         218   volkswagen       jetta    2.5  2008    5    auto(s6)   f
218         219   volkswagen       jetta    2.5  2008    5  manual(m5)   f
225         226   volkswagen  new beetle    2.5  2008    5  manual(m5)   f
226         227   volkswagen  new beetle    2.5  2008    5    auto(s6)   f

     cty  hwy fl       class
217   21   29  r     compact
218   21   29  r     compact
225   20   28  r  subcompact
226   20   29  r  subcompact  ), (6,      Unnamed: 0 manufacturer       model  displ  year  cyl       trans drv  \
4             5         audi          a4    2.8  1999    6    auto(l5)   f
5             6         audi          a4    2.8  1999    6  manual(m5)   f
6             7         audi          a4    3.1  2008    6    auto(av)   f
11           12         audi  a4 quattro    2.8  1999    6    auto(l5)   4
12           13         audi  a4 quattro    2.8  1999    6  manual(m5)   4
..          ...          ...         ...    ...   ...  ...         ...  ..
219         220   volkswagen       jetta    2.8  1999    6    auto(l4)   f
220         221   volkswagen       jetta    2.8  1999    6  manual(m5)   f
231         232   volkswagen      passat    2.8  1999    6    auto(l5)   f
232         233   volkswagen      passat    2.8  1999    6  manual(m5)   f
233         234   volkswagen      passat    3.6  2008    6    auto(s6)   f

     cty  hwy fl    class
4     16   26  p  compact
5     18   26  p  compact
6     18   27  p  compact
11    15   25  p  compact
12    17   25  p  compact
..   ...  ... ..      ...
219   16   23  r  compact
220   17   24  r  compact
231   16   26  p  midsize
232   18   26  p  midsize
233   17   26  p  midsize

[79 rows x 12 columns]), (8,      Unnamed: 0 manufacturer                   model  displ  year  cyl  \
17           18         audi              a6 quattro    4.2  2008    8
18           19    chevrolet      c1500 suburban 2wd    5.3  2008    8
19           20    chevrolet      c1500 suburban 2wd    5.3  2008    8
20           21    chevrolet      c1500 suburban 2wd    5.3  2008    8
21           22    chevrolet      c1500 suburban 2wd    5.7  1999    8
..          ...          ...                     ...    ...   ...  ...
153         154       nissan          pathfinder 4wd    5.6  2008    8
158         159      pontiac              grand prix    5.3  2008    8
178         179       toyota             4runner 4wd    4.7  2008    8
198         199       toyota  land cruiser wagon 4wd    4.7  1999    8
199         200       toyota  land cruiser wagon 4wd    5.7  2008    8

        trans drv  cty  hwy fl    class
17   auto(s6)   4   16   23  p  midsize
18   auto(l4)   r   14   20  r      suv
19   auto(l4)   r   11   15  e      suv
20   auto(l4)   r   14   20  r      suv
21   auto(l4)   r   13   17  r      suv
..        ...  ..  ...  ... ..      ...
153  auto(s5)   4   12   18  p      suv
158  auto(s4)   f   16   25  p  midsize
178  auto(l5)   4   14   17  r      suv
198  auto(l4)   4   11   15  r      suv
199  auto(s6)   4   13   18  r      suv

[70 rows x 12 columns])]

Q6. Write a function find_indexes(list,int) takes a list and integer value, if the value exists in the list return the list containing all the index where that integer exists else return “value don’t exist”

In [67]:
#Question no 6
def find_indexes(mylist,int_val):
    list_index = []
    for i in range(len(mylist)):
        if int_val in mylist:
            index = mylist.index(int_val)
            list_index.append(index)
            mylist.pop(index)
        else:
            continue
    if list_index:
        return list_index
    else:
        return "Values doesnt Exist"
   

mylist = [1,2,3,4,5,1,2]
int_val = 2
print(find_indexes(mylist,int_val))

Values doesnt Exist

int