# Data Science Lab 6

In [19]:
class Mytype:
    def __new__(cls,a,b):
        
        if a < 500:
            a = object.__new__(cls)
            #print("Object created")
            return a
        else:
            return print("Object not created")
    
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def __add__(self,obj):
        return(self.a+obj.a),(self.b+obj.b)
    def __sub__(self,obj):
        return(self.a-obj.a),(self.b-obj.b)
    def __gt__(self,obj):
        return (self.a>obj.a),(self.b>obj.b)
    def __lt__(self,obj):
        return (self.a<obj.a),(self.b<obj.b)

In [20]:
a = Mytype(70,70)
a = Mytype(1000,50)

Object not created

In [21]:
t1 = Mytype(1,2)
t2 = Mytype(2,3)
t1+t2

(3, 5)

In [22]:
t1-t2

(-1, -1)

In [23]:
t1>t2

(False, False)

In [24]:
t1<t2

(True, True)